@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "navbar_user";

body {
  padding-top: 70px;
  background-color:#FAFAFA;
  text-rendering: optimizelegibility;
}

label.required:after {
  content:" *";
  color: #ffab91;
}

.map{
	max-width: 400px;
	color: blue;
}